<h2>Mayajaal video resource Link</h2>
<%= link_to 'Home', root_path %>
<hr>
<div class="col-md-6">
  <h4>Top free stock footage sites by Team Mayajaal</h4>
  <p>
    <%= link_to 'Dareful', 'http://www.dareful.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'videvo', 'http://www.videvo.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'pixabay', 'http://www.pixabay.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'lifeofvids', 'http://www.lifeofvids.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'pexels', 'http://www.pexels.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'isorepublic', 'http://www.isorepublic.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'mazwai', 'http://www.mazwai.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'videvonet', 'http://www.videvonet.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'stocksy', 'http://www.stocksy.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'videoblocks', 'http://www.videoblocks.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'dareful', 'http://www.dareful.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'wedistill', 'http://www.wedistill.io', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'coverr', 'http://www.coverr.co', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'videvo', 'http://www.videvo.net', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'stockfootageforfree', 'http://www.stockfootageforfree.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'cutestockfootage', 'http://www.cutestockfootage.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'pikwizard', 'http://www.pikwizard.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'isorepublic', 'http://www.isorepublic.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'focastock', 'http://www.focastock.com', target: '_blank'%>
  </p>

</div>

<div class="col-md-6">
  <h4>Top premium stock footage sites by Team Mayajaal</h4>
  <p>
    <%= link_to 'videezy', 'http://www.videezy.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'flickr', 'www.flickr.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'morguefile', 'http://www.morguefile.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'bigstockphoto', 'http://www.bigstockphoto.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'dissolve', 'http://www.dissolve.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'filmsupply', 'http://www.filmsupply.com', target: '_blank'%>
  </p>


  <p>
    <%= link_to 'rocketstock', 'http://www.rocketstock.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to '123rf', 'http://www.123rf.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'www.pond5.com/stock-footage/', 'http://www.pond5.com/stock-footage/', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'storyandheart', 'http://www.storyandheart.com', target: '_blank'%>
  </p>

  <p>
    <%= link_to 'clipstill', 'http://www.clipstill.com', target: '_blank'%>
  </p>

</div>