<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Business
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :business, flexclip_path(query: :business) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :meeting, flexclip_path(query: :meeting) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :insurance, flexclip_path(query: :insurance) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :office, flexclip_path(query: :office) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sale
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :sale, flexclip_path(query: :sale) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :store, flexclip_path(query: :store) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :coupon, flexclip_path(query: :coupon) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :deal, flexclip_path(query: :deal) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Fashion
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :fashion, flexclip_path(query: :fashion) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :salon, flexclip_path(query: :salon) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :boutique, flexclip_path(query: :boutique) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :hipster, flexclip_path(query: :hipster) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    Technology
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :bluetooth, flexclip_path(query: :bluetooth) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :science, flexclip_path(query: :science) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :app, flexclip_path(query: :app) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :technology, flexclip_path(query: :technology) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    real estate
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to 'Real estate', flexclip_path(query: 'real estate') %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :apartment, flexclip_path(query: :apartment) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :realtor, flexclip_path(query: :realtor) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :villa, flexclip_path(query: :villa) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    animal
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :animal, flexclip_path(query: :animal) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :zoo, flexclip_path(query: :zoo) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :pet, flexclip_path(query: :pet) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :wolf, flexclip_path(query: :wolf) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    entertainment
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :entertainment, flexclip_path(query: :entertainment) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :leisure, flexclip_path(query: :leisure) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :gamepad, flexclip_path(query: :gamepad) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :esport, flexclip_path(query: :esport) %></li>
  </ul>
</div>


<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    music
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :music, flexclip_path(query: :music) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :piano, flexclip_path(query: :piano) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :dj, flexclip_path(query: :dj) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :blues, flexclip_path(query: :blues) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    event
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :event, flexclip_path(query: :event) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :party, flexclip_path(query: :party) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :birthday, flexclip_path(query: :birthday) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :gift, flexclip_path(query: :gift) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    nature
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :nature, flexclip_path(query: :nature) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :sky, flexclip_path(query: :sky) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :cloud, flexclip_path(query: :cloud) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :flower, flexclip_path(query: :flower) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    sport
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :sport, flexclip_path(query: :sport) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :cycling, flexclip_path(query: :cycling) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :fitness, flexclip_path(query: :fitness) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :football, flexclip_path(query: :football) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    education
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :education, flexclip_path(query: :education) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :university, flexclip_path(query: :university) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :study, flexclip_path(query: :study) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :library, flexclip_path(query: :library) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    travel
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :travel, flexclip_path(query: :travel) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :paris, flexclip_path(query: :paris) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :backpacking, flexclip_path(query: :backpacking) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :journey, flexclip_path(query: :journey) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    celebration
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :celebration, flexclip_path(query: :celebration) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :carnival, flexclip_path(query: :carnival) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :holiday, flexclip_path(query: :holiday) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :halloween, flexclip_path(query: :halloween) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    food
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :food, flexclip_path(query: :food) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :restaurant, flexclip_path(query: :restaurant) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :dessert, flexclip_path(query: :dessert) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :vegetable, flexclip_path(query: :vegetable) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    photography
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :photography, flexclip_path(query: :photography) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :tripod, flexclip_path(query: :tripod) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :portrait, flexclip_path(query: :portrait) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :gopro, flexclip_path(query: :gopro) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    kids
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :kids, flexclip_path(query: :kids) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :kindergarten, flexclip_path(query: :kindergarten) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :children, flexclip_path(query: :children) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :baby, flexclip_path(query: :baby) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    transportation
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :transportation, flexclip_path(query: :transportation) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :limousine, flexclip_path(query: :limousine) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :tire, flexclip_path(query: :tire) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :wheel, flexclip_path(query: :wheel) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    art
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :art, flexclip_path(query: :art) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :diy, flexclip_path(query: :diy) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :paint, flexclip_path(query: :paint) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :graffiti, flexclip_path(query: :graffiti) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    wedding
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :wedding, flexclip_path(query: :wedding) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :engagement, flexclip_path(query: :engagement) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :love, flexclip_path(query: :love) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :bride, flexclip_path(query: :bride) %></li>
  </ul>
</div>

<div class="col-md-1 col-sm-3 dropdown">
  <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    industrial
    <span class="caret"></span>
  </button>
  <ul class="dropdown-menu" aria-labelledby="dropdownMenu1">
    <li><%= link_to :industrial, flexclip_path(query: :industrial) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :welding, flexclip_path(query: :welding) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :mining, flexclip_path(query: :mining) %></li>
    <li role="separator" class="divider"></li>
    <li><%= link_to :electric, flexclip_path(query: :electric) %></li>
  </ul>
</div>